img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 450px;
	}
		 	
img.filter{ 
	filter: invert (25%);
	-webkit-filter: invert(25%);
	}
img.filter2{
	filter: saturate (0%);
	-webkit-filter: saturate(0%);
	}
	@-webkit-keyframe{
	